**/node_modules/
**/dist/

.env
client/.env.local
client/.env.development
client/.env.production
server/.env

client/.next/

.DS_Store
Thumbs.db

.vscode/

server/dynamodb-local-metadata.json

docker-compose.yml
client/dockerfile
